
body {
    margin :10 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
   
/*
a appliquer a tous les "a" -- >
     
    list-style-type: none;
*/
}

a {
    text-decoration: none;
}

/***********header********************************************/

header{
/*    height: 300px;*/
/*    padding-top: 40px;  */
    padding : 20px  
}

/*************container1*************************************/

.container1{
    display: flex;  
    justify-content: flex-start;     
}

ul{
    display: flex;  
    flex-wrap: wrap;
    /* margin-block-start: 1em; margin : 1em */
    /*margin-block-end: 1em; */
}

.element{ 
    margin-left: auto;  
}

.topnav{
/*    color:gray;*/
    list-style-type: none;
    font-size: 1.2em; 
}

.topnav li{
    padding: 10px 30px; /* padding : 10*/
}

.topnav a{
    text-decoration: none;
    color:gray;
    /* padding-top: 40px; */
     padding-top: calc( 40px + 1em + 10px - 1px ); 
}


.topnav :hover{
    color: blue;    
}

.topnav li:nth-child(-n+2) a:hover{
    border-top:2px solid #0065FC;  
    padding-top: 50px;
}

.inscription  a{ 
    font-weight :bold; 
    color:blue;
}

/*-----------------------------------------------*/

.navSearch {
      display: flex;
}

.navSearch > i,input { 
    padding: 17px;
    outline:none; 
    flex-basis: auto;
    border:1px solid #F2F2F2;   
}

input#Search {
    color:white;
    border:1px solid #0065FC;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight :bold; 
    cursor: pointer;  
}


.fa-map-marker-alt{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#F2F2F2;
    
}


/*-----------------------------------------------------------*/

div .filtres{
    display:flex; 
    align-items: baseline;
/*    justify-content: space-between;*/
    
}

/*#filtres ul {
    /* padding: 10px; */
    /* margin: 5px; *
  
}*/

#filtres ul li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color:black;
    font-weight :bold; 
    height: 38px;
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
   /* padding: 0px 10px 0px 65px; */
    line-height: 38px;
    /* width: 40px; */
    /* text-align: center; */   
}
#filtres ul li a {
    color:black;
}

#filtres ul li:hover{
    background-color: #0065FC;
}

#filtres ul li i {
    /* padding: 10px; */
    /* margin-right: 10px;  */
    background-color: #DEEBFF; 
    color: #0065FC;
    position: absolute;
    top:-2px;
    left:-2px;
    border: 2px solid #F2F2F2;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
}


#info {
/*    list-style-type: none;*/
    display: flex;
    align-items: baseline;
    color:gray;

}


#info i{
    color: #0065FC;
   /* background-color: #F2F2F2; */
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    padding:3px;
/*      width: 21px;*/
    
}




/****main : section + aside ***************************************/


#hebergement, aside{
    background-color:  #F2F2F2;
    
}

.hebergement{
    display: flex;
    flex-wrap: wrap-reverse;
    
    margin: 0;
}

#hebergement{
/*    margin-left: auto;    */
    border:1px solid #F2F2F2; 
    flex : 2;
/*    flex: 0 0 30%;*/
/*    flex-wrap: wrap;*/
/*
    flex-flow: column wrap;
    width:40%;
*/
    padding : 10px 20px;
/*    padding : 0px 10px;*/
    margin:10px;
    
/*    border-radius: 5%;*/
    
    border-radius: 35px;
    
}


section h2{
/*    margin-left: 15px;*/
    padding: 20px 30px;
}

section>h3{
    padding-top:15px;
    padding-left: 15px;
}

#hotel{
/*    border: 10px solid yellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
/*    height: 100vh;*/
/*    margin: 10px 0px;*/
/*    overflow: hidden;*/
}

/*section figure{*/

#hebergement figure{    
    border: 7px solid white;
    box-sizing:border-box;
    width: 28%;    
/*    max-width: 28%;*/
    flex: 1 0 200px;
    overflow: hidden;

/*    min-width: 200px;*/  

/*    height: 150px;*/  
    margin:20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa; 
}


/*
a figure:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

#hotel div{ /* proprietes communes aux images*/
    width: 100%;
    height: 110px;
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
}

#choix1{
/*    overflow: hidden;*/
    background-image: url(images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: center;
    background-size: cover;
/*
    object-fit: cover;
    object-position: center;
*/
}

#choix2{
    background-image: url(images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#choix3{
    background-image: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#choix4{
    background-image: url(images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#choix5{
    background-image: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#choix6{
    background-image: url(images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}



@media screen and (min-width: 768px) and (max-width:1024px){
    #choix1{
    background-image: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix2{
    background-image: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix3{
    background-image: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
}


@media screen and (min-width: 768px) and (max-width:1024px){
    #choix4{
    background-image: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix5{
    background-image: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix6{
    background-image: url(images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
}


    

/*
a:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

    
section figcaption{
    text-align: left;
    padding-left: 10px;
/*    height: 100px;*/
    font-size: 0.9em;
    margin:0;
    color:black;    
/*    width: 150px;*/
/*    margin-top: 0;    */
/*    color:#0065FC;*/
/*    margin-bottom: 25px;*/
    
}


.fa-star{
    color:#0065FC;
    margin-bottom: 25px;
}

/*
.hotel1 i:last-of-type {
    color:slategray;
}
*/

.hotel4etoiles i:nth-child(5){
/*    color:#F2F2F2;*/
    color:slategray;
}

/*
.4etoiles i:last-of-type {
    color:slategray;
}
*/

/*
.hotel4etoiles i:last-of-type {
    color:slategray;
}
*/



/*
.hotel4 i:last-of-type ,.hotel4 i:nth-last-of-type(2){
    color:#F2F2F2;
    color:slategray;
}
*/

.hotel3etoiles i:nth-child(n+4){
    color:slategray;
}

/*aside************************/
aside{
    
    flex : 1;
    border:1px solid #F2F2F2; 
/*    padding : 20px 30px 20px;*/
    margin: 10px 20px 10px 30px;
    border-radius: 35px;
}

aside h2{
/*    margin-left: 25px;*/
    padding: 20px 35px;
}

aside figure{
    display:flex;
    border: 7px solid white;
    box-sizing:border-box;
/*    width:100%;*/
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
/*    margin: 30px 5px 30px 0px;*/
    margin:30px 0px;  
    box-shadow: 0px 0px 10px #aaa; 
    color:black;
}

/*
aside figure:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
*/


.fa-chart-line {
    float: right;
    margin-top: 0;
    margin-right: 40px;
}

#hotelpop{   
    margin:15px 30px;        
}

#hotelpop div{ /* proprietes communes aux images*/
    height: 100%;
    width: 150px;
    background-position: center;
    background-size: cover;
    flex: 1 1 0;
    
}


#choix7{
/*
    height: 100%;
    width: 130px;
*/
    background-image: url(images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}

#choix8{
    background-image: url(images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#choix9{
    background-image: url(images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}


aside figcaption{
/*    display: flex;*/
/*    flex-direction: column;*/
    margin: 0 20px 0 20px;    
    font-size: 0.9em;
    width: 150px;
    flex: 1 1 0;
}

/*aside figcaption :nth-child(2){*/

aside figcaption :last-child{
    margin-top: 25px;
}



/***************SECTION ACTIVITES**************/

#activites>h2{
    padding: 20px 30px 0px;
    margin-bottom: 0px;
}

.wrapper{
    border: 1px solid red;
    margin:0 10px;
    display: flex;
        height: 500px;
/*    overflow: visible;*/
    justify-content:space-around;
/*    padding: 30px 20px;*/
    padding-bottom: 50px;

}


#activites figure{
        
/*    border: 7px solid white;*/
    box-sizing:border-box;
        
    height: 100%;
/*    width: 290px;*/
/*    width:50%;*/
/*    height: 500px;*/
/*  width: 80%;*/
/*    width: 100%; */
/*    height: 180px;*/
/*    flex: 1 0 200px;*/
    overflow: hidden;
    margin:30px 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa; 
}


.colom{
    height: 100%;
/*    width: 100%;*/
    width: 25%;
    margin: 0px 0px 10px; 

}
     
}

.col-1{
    height:35%;
}
.col-2{
    height:49%;
}
.col-3{
    height:65%;
}
.col-4{
/*    height:104%;*/
    height: 104%;
}



.wrapper figure div{ /* proprietes communes aux images*/
/*    width: 100%;*/
/*height: 80%;*/
/*              height: 700px;*/
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
    
}

#choix10{
    height: 85%;
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-position: center;
    background-size: cover;
}


#choix11{
    height: 80%;
    background-image: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-position: center;
    background-size: cover;
}


#choix12{
    height: 100px;
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position: center;
    background-size: cover;
}


#choix13{
    height: 90%;
    background-image: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#choix14{
    height: 80%;
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
#choix15{
    height: 80%;
    background-image: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
*/








/*footer******************************************************/

footer{
     background-color:  #F2F2F2;
        
}