
body {
    margin :0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: blue;
}


/***********header********************************************/

header{
/*    height: 300px;*/
/*    padding-top: 40px;  */
/*    padding : 20px  */
   padding : 0 40px;

}

/*************container1*************************************/
  
    .container1{
        display: flex;
    /*    align-items: baseline;*/
        align-items: center;
        justify-content: space-between;
    }


/*===================Logo ================================*/
/*la div avec deux elements (logo + inscription/mobile) pour mieux les gerer*/

    .mobile {
        display: none;
    }
    .desktop {
        display: block;   
        font-weight :bold; 
    /*    color: blue;*/
        font-size: 1.2em; 
    }

    .elementlogo{
        padding-top: 30px;
    }

    

/*====================================================*/
/********************* nav**************************/


    ul{
        display: flex;  
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .topnav{  
        list-style-type: none;
        font-size: 1em; 
        align-items: baseline;
    }

    .topnav li{
        padding:50px 40px;
        /* justify-self: end; */
    /*    width: 50%;    */
        text-align: center;
    /*    border-top: 2px solid #0065FC;*/
        padding-bottom: 10px;
    }

    .topnav a {
        text-decoration: none;
        color:gray;
        /* padding-top: 40px; */
         padding-top: calc( 40px + 1em + 10px - 1px ); 
    }


    .topnav :hover{
        color: blue;    
    }

/*@media screen and (min-width: 768px) and (max-width:1024px)s*/
/*.topnav li:nth-child(-n+2) a:hover{*/
    .topnav li:nth-child(-n+2):hover{
            border-top:2px solid #0065FC;  
    /*        padding-top: 50px;*/
    }

    .topnav li:last-child a{
        color: blue;
        padding-right: 0;
    /*
        font-weight :bold; 
        font-size: 1.2em; 
    */
    }



/*============================================================*/
/*--------------------navSearch---------------------------*/

.navSearch {
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
/*    width: 90%;*/
    border-left: none;
    border-right: none;
/*    margin:auto;*/
   
    position:relative;
/*    padding-right: 120px;*/
}

.navSearch > i,input { 
    padding: 17px;
    outline:none; 
    flex-basis: auto;
    border:1px solid #F2F2F2;  
    border:none;
}

input#Search {
    color:white;
    border:1px solid #0065FC;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight :bold; 
    cursor: pointer; 
/*    float: left;*/
    display: inline-block;
/*    display: none;*/
    position:absolute;
    width:120px;
}


.fa-map-marker-alt{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#F2F2F2;
    
}

 


/*-----------------------------------------------------------*/

div .filtres{
    display:flex; 
    align-items: baseline;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
    
}

.filtres ul{
        display: flex;  
        flex-wrap: wrap;
        padding: 0 20px;
    }


#filtres ul li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color:black;
    font-weight :bold; 
    height: 38px;
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
   /* padding: 0px 10px 0px 65px; */
    line-height: 38px;
    /* width: 40px; */
    /* text-align: center; */   
}

#filtres ul li a {
    color:black;
}

#filtres ul li:hover{
    background-color: #0065FC;
}

#filtres ul li i {
    /* padding: 10px; */
    /* margin-right: 10px;  */
    background-color: #DEEBFF; 
    color: #0065FC;
    position: absolute;
    top:-2px;
    left:-2px;
    border: 2px solid #F2F2F2;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
}


#info {
/*    list-style-type: none;*/
    display: flex;
    align-items: baseline;
    color:gray;
}


#info i{
    color: #0065FC;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    padding:5px;    
}


   






/****main : section + aside ***************************************/
main{
    margin: 0 10px;
    padding: 0 20px;    
    flex-direction: column;
}

#hebergement, aside{
    background-color:  #F2F2F2;   
}

.hebergement{
    display: flex;
/*    flex-wrap: wrap;*/
    flex-wrap: wrap-reverse;
}


#hebergement{
/*    margin-left: auto;    */
    border:1px solid #F2F2F2; 
    flex : 2;
/*    flex: 0 0 30%;*/
/*    flex-wrap: wrap;*/
    padding : 10px 20px;
/*    padding : 0px 10px;*/
    margin:10px;
    border-radius: 35px;
    
}


section>h3{
    padding-top:15px;
    padding-left: 15px;
}

#hotel{
/*    border: 10px solid yellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
/*    height: 100vh;*/
/*    margin: 10px 0px;*/
/*    overflow: hidden;*/
}

/*section figure{*/

#hebergement figure{    
    border: 7px solid white;
    box-sizing:border-box;
    width: 28%;    
/*    max-width: 28%;*/
    flex: 1 0 200px;
    overflow: hidden;

/*    min-width: 200px;*/  

/*    height: 150px;*/  
    margin:20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa; 
}


/*
a figure:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

#hotel div{ /* proprietes communes aux images*/
    width: 100%;
    height: 110px;
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
}


#choix1{
background-image: url(images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
#choix2{
background-image: url(images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
#choix3{
background-image: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
#choix4{
background-image: url(images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
#choix5{
background-image: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
#choix6{
background-image: url(images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

#choix7{
/*
    height: 100%;
    width: 130px;
*/
    background-image: url(images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}

#choix8{
    background-image: url(images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#choix9{
    background-image: url(images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

#choix10{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
/*    width: 100%;*/
}


#choix11{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
    /*    position: absolute;*/
    /*    top: 0;*/
}


#choix12{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);

}


#choix13{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#choix14{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
#choix15{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/*
a:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

    
#hebergement figcaption{
    text-align: left;
    padding-left: 10px;
/*    height: 100px;*/
    font-size: 0.9em;
    margin:0;
    color:black;    
}


.fa-star{
    color:#0065FC;
    margin-bottom: 25px;
}

/*
.hotel1 i:last-of-type {
    color:slategray;
}
*/

.hotel4etoiles i:nth-child(5){
/*    color:#F2F2F2;*/
    color:slategray;
}


/*
.hotel4 i:last-of-type ,.hotel4 i:nth-last-of-type(2){
    color:#F2F2F2;
    color:slategray;
}
*/

.hotel3etoiles i:nth-child(n+4){
    color:slategray;
}

/*aside************************/
aside{
    
    flex : 1;
    border:1px solid #F2F2F2; 
/*    padding : 20px 30px 20px;*/
    margin: 10px 10px 10px 30px;
    border-radius: 35px;
}

aside h2{
/*    margin-left: 25px;*/
    padding: 20px 35px;
}

aside figure{
    display:flex;
    border: 7px solid white;
    box-sizing:border-box;
/*    width:100%;*/
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
/*    margin: 30px 5px 30px 0px;*/
    margin:30px 0px;  
    box-shadow: 0px 0px 10px #aaa; 
    color:black;
}

/*
aside figure:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
*/


.fa-chart-line {
    float: right;
    margin-top: 0;
    margin-right: 0px;
}

#hotelpop{   
    margin:15px 30px;        
}

#hotelpop div{ /* proprietes communes aux images*/
    height: 100%;
    width: 120px;
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
    
}



aside figcaption{
/*    display: flex;*/
/*    flex-direction: column;*/
    margin: 0 10px;    
/*    font-size: 0.9em;*/
    font-size: 0.9em;
    width: 150px;
/*    width: 120px;*/
    flex: 1 1 0;
}

/*aside figcaption :nth-child(2){*/

aside figcaption :last-child{
    margin-top: 25px;
}


/***************SECTION ACTIVITES**************/

#activites>h2{
    margin-bottom: 10px;
    padding-left: 10px;
}

/*************** A VERIFIER **************/
section h2{
    padding: 20px 30px;
}


#activites figure{
  
/*border: 7px solid white; */
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    height: 100%;
    /* width: 290px; */
    position: relative;
    /* width: 50%; */
    /* height: 500px; */     
    overflow: hidden;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa;
    margin: 0;    
}


.wrapper{
    margin:0 10px;
    display: flex;
  
    flex-wrap:wrap;
/*    height: 500px;*/
    height: 1300px;
/*    overflow: visible;*/
/*    justify-content:space-around;*/
    justify-content: space-between;
    padding-bottom: 50px;
}


.column{
   height: 100%;
   width: 22%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;  
}

  

.col-1{
    height:34%;
}
.col-2{
    height:47%;
}
.col-3{
    height:60%;
}
.col-4{
/*    height:104%;*/
    height: 100%;
}

#activites h3{
/*    margin-left: 25xp;*/
    margin-left: 10px;
    font-size: 1em;
    line-height: 15px;
}

.wrapper figure div{ /* proprietes communes aux images*/
/*    width: 100%;*/
    height: calc( 100% - 50px );
/*    height: 300px;*/
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
    
}

#activites figcaption{
    text-align: left;
    padding-left: 10px;
    height: 50px;
/*    width:28%;*/
    font-size: 0.9em;
    margin: 0;
    color: black;
    position: absolute;
    bottom: 0;
    width: calc( 100% - 10px );
    background: white;    
    
}

/*
figure:hover{
     transform: scale(1.05);
}
*/

/*footer******************************************************/

footer{
     background-color:  #F2F2F2;
     display: flex;
     flex-wrap: wrap;
/*     justify-content: space-between;*/
/*    margin: 0;*/
     padding: 20px 40px;
    
        
}

footer div{
/*    border:1px solid black;*/
    flex:1 1 200px;
    padding-left: 10px;
}
.mobile {
/*    display: none;*/
}
.desktop {
    display: block;
}


/*@media screen and (min-width: 768px) and (max-width:1024px){*/

    @media screen and (min-width: 768px) and (max-width: 1280px){

    #choix1{
    background-image: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    #choix7{
    /*
        height: 100%;
        width: 130px;
    */
        background-image: url(images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    }

    #choix8{
        background-image: url(images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }

    #choix9{
        background-image: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }

    #choix10{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    /*    width: 100%;*/
    }


    #choix11{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
        /*    position: absolute;*/
        /*    top: 0;*/
    }


    #choix12{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);

    }


    #choix13{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #choix14{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}


    







@media screen and (min-width: 481px) and (max-width: 767px){
         
    .headerlogo{
        padding-bottom: 31px;
    }  
    
     ul{
        display: flex;  
        flex-wrap: wrap;
        padding: 0px;
    }

    .topnav{
        font-size: 0.9em;
    }
    
    .topnav li{
        padding:50px 5px;
    }
    
     .col-1,.col-2,.col-3,.col-4{
/*        height:100%;*/
    }
    
   
    figure {
        height: 250px;
    }
    
 
/*    **************************************************/
    
    
    main{
        margin:0;
        padding:0;
    }
    aside {
        flex:auto;
        margin:10px;
    }
    
    aside h2 {
        /* margin-left: 25px; */
        padding: 20px;
        padding-bottom: 0px;
    }
    
    #hotelpop {
        margin: 15px 20px;
    }
    
    #hotelpop div {
        width: 200px;
    }
    
    wrapper {  
            height: 1300px;
/*        flex-direction: column;*/
/*        height: auto;*/
/*        height: none;*/
/*        margin:10px;*/
    }
/*
    .column{
        height: auto;
    }
        
    
    .wrapper figure div {
       
        background-position: center;
        background-size: cover;
      
    }
*/
    
     .wrapper figure div {
        /* width: 100%; */
        /* height: calc( 100% - 50px ); */
        height: 200px;
/*
        background-position: center;
        background-size: cover;
*/
        /* flex: 1 1 0; */
    }
      
    .column{
        width: 100%;
        height: fit-content;
/*        width: 0;*/
        
    }
     
    #hebergement{
        flex:auto;     
    }
    
    .hebergement {
        display: flex;
        /* flex-wrap: wrap; */
        flex-wrap: wrap-reverse;
/*        flex:none;*/
    }
    
    #hebergement figure{
        margin:20px;
    }
      
    
     #activites figure {
        margin:10px;
        height: auto;
    }   
   
    #activites>h2 {
        margin-left:10px;
    }
    
    
    footer div{
            padding: 0 20%;
    }

    #choix1{
    background-image: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    #choix7{
    /*
        height: 100%;
        width: 130px;
    */
        background-image: url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    }

    #choix8{
        background-image: url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }

    #choix9{
        background-image: url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }

    #choix10{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    /*    width: 100%;*/
    }


    #choix11{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
        /*    position: absolute;*/
        /*    top: 0;*/
    }


    #choix12{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);

    }


    #choix13{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #choix14{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}
    

/********************************************************/
/*=============version SMARTPHONE====================*/
/*version smartphone : 320px till 768px*/


/*@media and (max-width: 320px){*/
/*@media screen and (min-width: 320px) and (max-width: 480px){*/


    
/*@media and (max-width: 320px){*/

@media screen and (max-width: 480px){
    
    body {
    margin :0px;
    }
    
    header{
        padding: 0;
    }
    .container1{ 
        flex-wrap: wrap;
    }  
    
/*    la classe mobile est visible en dessous de 1024px et prends ces proprietes */
    .mobile {
        display: inline-block;
        float: right;    
            
        margin-left:0px;
        margin-top: 45px;
        padding-top:15px;
        padding-right: 20px;
         font-weight :bold; 
    }   
    
/*    la classe desktop sera masquee en dessous de 480px*/
    .desktop {
        display: none;
    }       
    .elementlogo {
    /* box-sizing: border-box; */
        margin-left: 0px;
        margin-top: 10px;
        padding-right: 0;
    }        
   
    
    .element {
/* width: 100%;  notre conteneur fait toute la largeur*/
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom:10px;
        margin-left:0px;
    }
    
    .topnav {
        margin-top: 30px;
        padding: 0;   
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    
    .topnav li{
        padding:0;
        /* justify-self: end; */
        width: 50%;
        /* width: 25%;    */
        text-align: center;
        border-bottom: 2px solid gray;
        padding-bottom: 10px;
/*        border-top:none;*/
    }
    
     .topnav li:nth-child(-n+2):hover { 
        border-top:none;
    }
    
/*
    .topnav li:nth-child(-n+2) a:hover{
        border-top:2px solid #0065FC;  
        padding-top: 50px;
    }
*/
    
    .topnav li:hover{
        border-bottom-color: blue;
        border-top:none;       
    }       
    
    .headerlogo {
        width: 100%;
        margin-left:10px;      
    }
    
    .elementlogo{
/*        box-sizing: border-box;*/
        margin-left:10px;
        margin-top: 10px;
        padding-right: 0px;
    }
       
    header h2{
        font-size: 1.4em;
         margin:20px
    }
    
    header p{
        padding: 0 20px;
    }
    
    .container1 h2{
        padding: 10px;
        
    }
    

    
    #Search{
        display: none;
    }
    
    .fa-search{
        color:white;
/*        border:1px solid #0065FC;*/
        background-color:#0065FC;
        border-radius: 15px;
/*        font-weight :bold; */
/*        cursor: pointer;  */
        padding: 17px;
        outline:none; 
        flex-basis: auto;
        border:1px solid #F2F2F2;
           
        width: 17px;
        position: absolute;
        height: 17px;
        bottom: -1px;
    }
    
    
    
    .navSearch {
        display: flex;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        width: 75%;
        border-left: none;
        border-right: none;
        margin: 0;
/*        position: relative;*/
/*        padding-right: 120px;*/
        padding-left:20px;
    }
    
    .navSearch > i,input { 
        padding: 17px;
        outline:none; 
        flex-basis: auto;
/*        border:1px solid #F2F2F2;  */
        border:none;
    }
    
    input#Search {
        display:none;
    }
    
    
    fa-search{
        width: 16px;
        position: absolute;
        height: 18px;
        bottom: -1px;
    }
    
    
  
    div filtres{
        flex: none;
    }
    
    .filtres h2{
         width: 100%;
                
/*        max-width: 100%;*/

/*       flex-grow: 4;*/
/*        margin: 10px auto auto;*/
/*        vertical-align: top;*/
        
/*        padding: 0;*/
        
        
    }
    
    div .filtres{
        display: block;
        padding-left: 20px;
        
    }
    
    ul{
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #filtres ul li{
        margin:0;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    
    #info{
        margin:0 20px;
    }
    
    #info p{
        padding: 0 1px;
    }
    
    
/*    *****************************************************/
    main{
        margin:0;
        padding:0;
    }
    aside {
        width: 100%;
        border-radius: 0;
        margin:0;
    }
    
    aside h2 {
        /* margin-left: 25px; */
        padding: 20px;
        padding-bottom: 0px;
    }
    
    #hotelpop {
        margin: 15px 20px;
    }

    #activites{
        display: flex;
        flex-direction: column;
/*        height: 900px;*/
    }    
    
     #activites figure {
/*        height: 100%;*/

         height: auto;
         margin-bottom: 30px;
/*         position: relative;*/
    }
    
    #activite>h2{
        margin-bottom: 30px;
        padding-left: 20px;  
    }
    
    .wrapper{
        margin:0 20px;
        height: 0%;
    }  
    
    .wrapper figure div {
        /* width: 100%; */
        /* height: calc( 100% - 50px ); */
        height: 200px;
        background-position: center;
        background-size: cover;
        /* flex: 1 1 0; */
    }
      
    .column{
        width: 100%;
/*        height: 150px;*/
/*        width: 0;*/
        
    }
    
    #hebergement{
        
        border-color: none;
        padding:0;
        background-color: white;
        margin:20px;
        border: none;
    }
    
    #hebergement figure{
        margin:10px 0;
    }
    
    section h2{
        padding:15px 0;
        margin: 0px;
    }
    
    section>h3{
       
        padding-left: 0px;
    }
    
    #activites>h2{
        margin-left:10px;
    }  
    
    #choix1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    #choix7{
    /*
        height: 100%;
        width: 130px;
    */
        background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    }

    #choix8{
        background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }

    #choix9{
        background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }

    #choix10{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
    /*    width: 100%;*/
    }


    #choix11{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    /*
        background-position: center;
        background-size: cover;
    */
        /*    position: absolute;*/
        /*    top: 0;*/
    }


    #choix12{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);

    }


    #choix13{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #choix14{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    /*    height: calc( 100% - 50px );*/
        background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}
    
    







    


    

    
    
    
    
    
    
/*
@media screen and (min-width: 1024px){
    
    span .fa-search{
        display: none;
    }
*/
    

    
    
    
    
    
/*   --------------------------------------------- */
    

    
/*
    #elementlogo{   
    height: 100px;    
    background-image: url(images/logo/Reservia.svg);
    background-repeat: no-repeat;
    background-position: center;
*/

/*
    width:100px;
    background: url(images/logo/Reservia.svg) no-repeat center; 
}
*/




/*    la classe mobile est visible en dessous de 1024px et prends ces proprietes */
    
/*
@media (max-width: 1024px) 
    .mobile {
        display: inline-block;
        float: right;
} 
*/
    
/*    la classe desktop sera masquee en dessous de 1024px*/
/*
  @media (max-width: 1024px)    
    .desktop {
        display: none;
}
*/
            
/*
@media (max-width: 1024px)
    .elementlogo {
         box-sizing: border-box; 
        margin-left: 0px;
        margin-top: 10px;
        padding-right: 0;
}
*/

/*
 @media (max-width: 1024px)  
    .container1{ 
        position:relative;
        height: 150px;
        flex-wrap: wrap;
}
*/

    
/*
@media (max-width: 1024px)
    .inscription {
        margin: 0;
        padding: 0px;
        margin-left: 80px;
        margin-top: 20px;
}
*/
    
/*
@media (max-width: 1024px)
    .mobile {
        display: inline-block;
        float: right;
}
*/
    
/* ************ nav ********************/
    
/*
@media (max-width: 1024px)
    .element {
        top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%; notre conteneur fait toute la largeur
}
*/