
body {
    margin :0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: blue;
}

header{
   padding : 0 40px;
}

  
.container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*======== Logo ===========*/

.mobile {
    display: none;
}
.desktop {
    display: block;   
    font-weight :bold; 
/*    color: blue;*/
    font-size: 1.2em; 
}

.elementlogo{
    padding-top: 30px;
}

    

/*===================================*/
/**************** nav*************/


ul{
    display: flex;  
    flex-wrap: wrap;
    padding: 0 20px;
}

.topnav{  
    list-style-type: none;
    font-size: 1em; 
    align-items: baseline;
}

.topnav li{
    padding:50px 40px;
    text-align: center;
    padding-bottom: 10px;
}

.topnav a {
    text-decoration: none;
    color:gray;
    padding-top: calc( 40px + 1em + 10px - 1px ); 
}


.topnav :hover{
    color: blue;    
}

.topnav li:nth-child(-n+2):hover{
        border-top:2px solid #0065FC;  
}

.topnav li:last-child a{
    color: blue;
    padding-right: 0;
}


/*===========================================*/
/*-----------------navSearch----------------*/

.navSearch {
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    position: relative;
    margin-left: 50px;
    height: 48px;
    min-width: 200px;
}


.navSearch > i{
    outline: none;
    flex-basis: auto;
    border: 1px solid #F2F2F2;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -55px;
    top: -1px;
    line-height: 50px;
    text-align: center;
}

.navSearch > i,input {
    outline: none;
    flex-basis: auto;
    border: 1px solid #F2F2F2;
    border: none;
    position: absolute;
}

.writing{
    top: 0;
    left: 0;
    height: 48px;
    padding: 0;
    padding-left: 5px;
    width: 100%;
}

input#Search {
    color: white;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 50px;    
    right: -120px;
    top: -1px;
}


.fa-map-marker-alt{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#F2F2F2;
    
}

 
/*------------------------------------*/

div .filtres{
    display:flex; 
    align-items: baseline;
    flex-wrap: wrap;
}

.filtres ul{
        display: flex;  
        flex-wrap: wrap;
/*        padding: 0 20px;*/
    }


#filtres ul li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color:black;
    font-weight :bold; 
    height: 38px;
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
    line-height: 38px; 
}

#filtres ul li a {
    color:black;
}

#filtres ul li:hover{
    background-color: #DEEBFF; 
;
}

#filtres ul li i {
    background-color: #DEEBFF; 
    color: #0065FC;
    position: absolute;
    top:-2px;
    left:-2px;
    border: 2px solid #F2F2F2;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
}


#info {
    display: flex;
    align-items: baseline;
    color:gray;
}


#info i{
    color: #0065FC;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    padding:5px;    
}


/****MAIN : section + aside ***************************************/
main{
    margin: 0 10px;
    padding: 0 20px;    
    flex-direction: column;
}

#hebergement, aside{
    background-color:  #F2F2F2;   
}

.hebergement{
    display: flex;
    flex-wrap: wrap-reverse;
}


#hebergement{
    border:1px solid #F2F2F2; 
    flex : 2;
    padding : 10px 20px;
    margin:10px;
    border-radius: 35px;   
}


section>h3{
    padding-top:15px;
    padding-left: 15px;
}

#hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.flyover{
    width: calc( 33% - 20px );
    margin:20px 10px;
}

#hebergement figure{    
    border: 7px solid white;
    box-sizing:border-box;
/*    width: 28%;    */

    overflow: hidden;
/*    min-width: 200px;*/  
/*    margin:20px;*/
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa; 
    margin:0;
}

#hotel div{ 
    width: 100%;
    height: 110px;
    background-position: center;
    background-size: cover;
}


#choix1{
background-image: url(images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
#choix2{
background-image: url(images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
#choix3{
background-image: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
#choix4{
background-image: url(images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
#choix5{
background-image: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
#choix6{
background-image: url(images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

#choix7{
background-image: url(images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

#choix8{
background-image: url(images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#choix9{
background-image: url(images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

#choix10{
background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}


#choix11{
background-image: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#choix12{
background-image: url(images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

#choix13{
background-image: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#choix14{
background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
#choix15{
background-image: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}


#hebergement figcaption{
    text-align: left;
    padding-left: 10px;
    height: 100px;
    font-size: 0.9em;
    margin:0;
    color:black;    
}

.fa-star{
    color:#0065FC;
    margin-bottom: 25px;
}

.hotel4etoiles i:nth-child(5){
    color:slategray;
}

.hotel3etoiles i:nth-child(n+4){
    color:slategray;
}

aside{  
    flex : 1;
    border:1px solid #F2F2F2; 
    margin: 10px 10px 10px 30px;
    border-radius: 35px;
}

aside h2{
    padding: 20px 35px;
}

aside figure{
    display:flex;
    border: 7px solid white;
    box-sizing:border-box;
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    margin:30px 0px;  
    box-shadow: 0px 0px 10px #aaa; 
    color:black;
}

.fa-chart-line {
    float: right;
    margin-top: 0;
    margin-right: 0px;
}

#hotelpop{   
    margin:15px 30px;        
}

#hotelpop div{ 
    height: 100%;
    width: 120px;
    background-position: center;
    background-size: cover;
}


aside figcaption{
    margin: 0 10px;    
    font-size: 0.9em;
    width: 150px;
    flex: 1 1 0;
}

aside figcaption :last-child{
    margin-top: 25px;
}


/***************SECTION ACTIVITES**************/

#activites>h2{
    margin-bottom: 10px;
    padding-left: 10px;
}

section h2{
    padding: 20px 30px;
}


#activites figure{
    box-sizing: border-box;
    height: 100%;
    position: relative;
    /* width: 50%; */    
    overflow: hidden;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa;
    margin: 0;    
}


.wrapper{
    margin:0 10px;
    display: flex;
  
    flex-wrap:wrap;
    height: 500px;
    justify-content: space-between;
    padding-bottom: 50px;
}


.column{
   height: 100%;
   width: 22%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;  
}
 

.col-1{
    height:34%;
}
.col-2{
    height:47%;
}
.col-3{
    height:60%;
}
.col-4{
    height: 100%;
}

#activites h3{
    margin-left: 10px;
    font-size: 1em;
    line-height: 15px;
}

.wrapper figure div{ 
    height: calc( 100% - 50px );
    background-position: center;
    background-size: cover;    
}

#activites figcaption{
    text-align: left;
    padding-left: 10px;
    height: 50px;
    font-size: 0.9em;
    margin: 0;
    color: black;
    position: absolute;
    bottom: 0;
    width: calc( 100% - 10px );
    background: white;    
    
}

figure:hover{
     transform: scale(1.05);
}



/****
*****
FOOTER
****
****/

footer{
     background-color:  #F2F2F2;
     display: flex;
     flex-wrap: wrap;
     padding: 20px 40px;
    
        
}

footer div{
    flex:1 1 200px;
    padding-left: 10px;
}
.mobile {
/*    display: none;*/
}
.desktop {
    display: block;
}






/****
*****
BreakPoint: (768px --> 1280px)
****
****/

/*@media screen and (min-width: 768px) and (max-width: 1280px){*/
    
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .wrapper{
        height: 500px;
    }
    
    .flyover{
        width: calc( 50% - 20px );
    }

    #choix1{
    background-image: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    #choix7{
    background-image: url(images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }

    #choix8{
    background-image: url(images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }

    #choix9{
    background-image: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }

    #choix10{
    background-image: url(images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }


    #choix11{
    background-image: url(images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }


    #choix12{
    background-image: url(images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }

    #choix13{
    background-image: url(images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #choix14{
    background-image: url(images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    background-image: url(images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}


/****
*****
BreakPoint: (1024px)
****
****/

/*@media screen and (max-width: 1024px){*/
    
@media screen and (min-width: 769px) and (max-width: 1024px){
    #hebergement figure {
        flex: 1 0 200px;
    }
    
    .flyover{
/*        width: calc( 90% );*/
        width: 90%;
    }
}


/****
*****
BreakPoint: (480px --> 767px)
****
****/


@media screen and (min-width: 480px) and (max-width: 768px){

/*@media screen and (max-width: 768px){*/
         
    .headerlogo{
        padding-bottom: 31px;
    }  
    
     ul{
        display: flex;  
        flex-wrap: wrap;
        padding: 0px;
    }

    .topnav{
        font-size: 0.9em;
    }
    
    .topnav li{
        padding:50px 5px;
    }
    

    .writing{
/*        width: calc( 100% -150px);*/
    }
    
/*
    input[type="text" i] {
        width: calc( 100% -150px);
    }
*/
   
    figure {
        height: 250px;
    }
    
    
    main{
        margin:0;
        padding:0;
    }
    aside {
        flex:auto;
        margin:10px;
    }
    
    aside h2 {
        padding: 20px;
        padding-bottom: 0px;
    }
    
    #hotelpop {
        margin: 15px 20px;
    }
    
    #hotelpop div {
        width: 200px;
    }
    
    .wrapper {  
        height: auto;
    }
    
    .wrapper figure div {
        height: 200px;
    }
      
    .column{
        width: 100%;
        height: fit-content;    
    }
     
    #hebergement{
        flex:auto;     
    }
    
    .hebergement {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    
    .flyover {
/*        width: 100%;*/
/*        width: 30%;*/
        width: calc( 45% - 5px );
        margin: 20px 0px;
    }
    
    section h2{
        margin: 0px;
        padding: 20px 0px;
    }
    
    #hebergement figure{
/*        margin:20px;*/
/*        flex: 1 0 300px;*/
       
    }   
     #activites figure {
        margin:10px;
        height: auto;
    }  
    
   
    #activites>h2 {
        margin-left:10px;
    }
    
    footer div{
            padding: 0 20%;
    }

    #choix1{
    background-image: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    #choix7{
    background-image: url(images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }

    #choix8{
    background-image: url(images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    #choix9{
    background-image: url(images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    #choix10{
    background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix11{
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    #choix12{
    background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    #choix13{
    background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }

    #choix14{
    background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}
    

/***********************/
/*** mode SMARTPHONE ***/
/***********************/

/****
*****
BreakPoint: (480px)
****
****/



@media screen and (max-width: 480px){
    body {
    margin :0px;
    }
    
    header{
        padding:0;
    }
    .container1{ 
        flex-wrap: wrap;
    }  
    
    .mobile.inscription{
            margin-top: 60px;
    }
    
    
    .mobile {
        display: inline-block;
        font-weight: bold;
        position: absolute;
        right: 30px;
    }

    .desktop {
        display: none;
    }       
    .elementlogo {
        margin-left: 0px;
        margin-top: 10px;
        padding-right: 0;
    }        
   
    
    .element {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom:10px;
        margin-left:0px;
    }
    
    .topnav {
        margin-top: 30px;
        padding: 0;   
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    
    .topnav li{
        padding:0;
        width: 50%;
        text-align: center;
        border-bottom: 2px solid gray;
        padding-bottom: 10px;
    }
    
     .topnav li:nth-child(-n+2):hover { 
        border-top:none;
    }
    

    .topnav li:hover{
        border-bottom-color: blue;
        border-top:none;       
    }       
    
    .headerlogo {
        width: 100%;
        margin-left:10px;      
    }
    
    .elementlogo{
        margin-left:10px;
        margin-top: 10px;
        padding-right: 0px;
    }
       
    header h2{
        font-size: 1.4em;
         margin:20px
    }
    
    header p{
        padding: 0 20px;
    }
    
    .container1 h2{
        padding: 10px;   
    }
    
    /*===========================================*/
    /*-----------------navSearch----------------*/
    
    #Search{
        display: none;
    }
    
    .fa-search{
        color:white;
        background-color:#0065FC;
        border-radius: 15px;
        padding: 17px;
        outline:none; 
        flex-basis: auto;
        width: 17px;
        position: absolute;
        top:-1px;
    }

     .navSearch {
        display: flex;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
/*        width: calc( 100% - 100px );*/
        width: calc( 100% - 120px );
        border-left: none;
        border-right: none;
        margin-left: 75px;
        min-width: 0;
    }


    .navSearch > i, input {
        outline: none;
        flex-basis: auto;
    }
    
    
    input#Search {
        display:none;
    }
    
    fa-search{
        width: 16px;
        position: absolute;
        height: 18px;
        bottom: -1px;
    }
 
    /*------------------------------------*/
  
    div filtres{
        flex: none;
    }
    
    .filtres h2{
         width: 100%;    
    }
    
    div .filtres{
        display: block;
        padding-left: 20px;     
    }
    
    ul{
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #filtres ul li{
        margin:0;
        margin-right: 15px;
        margin-bottom: 15px;
    }   
    
    #info{
        margin:0 20px;
    }
    
    #info p{
        padding: 0 1px;
    }
    
    main{
        margin:0;
        padding:0;
    }
    aside {
        width: 100%;
        border-radius: 0;
        margin:0;
    }
    
    aside h2 {
        padding: 20px;
        padding-bottom: 0px;
    }
    
    #hotelpop {
        margin: 15px 20px;
    }

    #activites{
        display: flex;
        flex-direction: column;
    }    
    
     #activites figure {
         height: auto;
         margin-bottom: 30px;
    }
    
    #activite>h2{
        margin-bottom: 30px;
        padding-left: 20px;  
    }
    
    .wrapper{
        margin:0 20px;
        height: 0%;
        flex-wrap:wrap;      
    }  
    
    .wrapper figure div {
        height: 200px;
        background-position: center;
        background-size: cover;
    }
      
    .column{
        width: 100%;    
    }
    
    #hebergement{  
        padding:0;
        background-color: white;
/*        margin:20px;*/
        border: none;
        margin:0;
    }
    
    .flyover{
        width: 90%;
        margin:10px 15px;
    }
    
    #hebergement figure{
        margin:10px 0;
        flex: 1 0 230px;
    }
    
    section h2{
        margin: 0px;
/*        padding: 20px 35px;*/
        padding:20px;
    }
    
    section>h3{     
        padding-left: 20px;
    }
    
    #activites>h2{
        margin-left:10px;
    }  
    
    #choix1{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
    #choix2{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
    #choix3{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
    #choix4{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
    #choix5{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
    #choix6{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
    #choix7{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    }
    #choix8{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    }
    #choix9{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    #choix10{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix11{
       background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    }
    #choix12{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    }
    #choix13{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    }
    #choix14{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    }
    #choix15{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    }

}
    
    







    


    

    
    
    
    
    
    
