
body {
    margin :10px 0px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: blue;
}


/***********header********************************************/

header{
/*    height: 300px;*/
/*    padding-top: 40px;  */
/*    padding : 20px  */
   padding : 0 40px; /* ?*/
/*    padding: 0 30px; ??????????????????*/
}

/*************container1*************************************/

.container1{
    display: flex;
/*    align-items: baseline;*/
    align-items: center;
/*    justify-content: flex-start;     */
/*    flex-flow: column wrap;*/
    justify-content: space-between;
}

.elementlogo{
    padding-top: 10px;
}

/*=============================================================*/
/*la div avec deux elements (logo + inscription) pour mieux les gerer*/
/*
.headerlogo{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    width: 100%;
}
*/

.mobile {
    display: none;
}
.desktop {
    display: block;
}

.elementlogo{
    padding-top: 10px;
/*    padding-top: 20px;?????????????????*/
}

/*
#elementlogo{   
    height: 100px;    
    background-image: url(images/logo/Reservia.svg);
    background-repeat: no-repeat;
    background-position: center;
*/

/*
    width:100px;
    background: url(images/logo/Reservia.svg) no-repeat center; 
}
*/

/*====================================================*/
/********************* nav**************************/

.element{ 
/*    display: flex;  */
/*    margin: auto;*/
/*    flex-wrap: wrap;*/
    width: 50%;
/*     width: 100%; mobile*/
}

ul{
    display: flex;  
/*    flex-wrap: wrap;*/
/*    margin:0;*/
/*    padding: 0;*/
    padding: 0 20px;
}


.topnav{
/*    color:gray;*/
    list-style-type: none;
    font-size: 1.2em; 
    padding-top: 30px;
    padding-left: 90px;
/*    width: 100%;*/
}

.topnav li{
/*    padding: 10px 30px;  padding : 10*/
/*    justify-self: end;*/
/*    text-align: center;*/
/*
    border-bottom: 2px solid #2f2f2f;
    padding-bottom: 10px;
*/
    
    padding: 10px 40px;
    /* justify-self: end; */
/*    width: 50%;    */
    text-align: center;
/*    border-top: 2px solid #0065FC;*/
    padding-bottom: 10px;
}

.topnav a{
    text-decoration: none;
    color:gray;
    /* padding-top: 40px; */
     padding-top: calc( 40px + 1em + 10px - 1px ); 
}


.topnav :hover{
    color: blue;    
}

/*@media screen and (min-width: 768px) and (max-width:1024px)s*/
    .topnav li:nth-child(-n+2) a:hover{
        border-top:2px solid #0065FC;  
        padding-top: 50px;
    }


/*
.topnav li a:hover{
    border-top:1px solid #0065FC;  
    padding-top: 50px;
}
*/

.inscription{
/*
    align-self: flex-end;    
*/
    
    font-weight :bold; 
/*    color: blue;*/
    font-size: 1.2em; 
/*    padding: 10px 30px;*/
}




/*============================================================*/
/*--------------------navSearch---------------------------*/

.navSearch {
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
/*    width: 90%;*/
    border-left: none;
    border-right: none;
/*    margin:auto;*/
   
    position:relative;
/*    padding-right: 120px;*/
}

.navSearch > i,input { 
    padding: 17px;
    outline:none; 
    flex-basis: auto;
    border:1px solid #F2F2F2;  
    border:none;
}

input#Search {
    color:white;
    border:1px solid #0065FC;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight :bold; 
    cursor: pointer; 
/*    float: left;*/
    display: inline-block;
/*    display: none;*/
    position:absolute;
    width:120px;
}


.fa-map-marker-alt{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:#F2F2F2;
    
}

 


/*-----------------------------------------------------------*/

div .filtres{
    display:flex; 
    align-items: baseline;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
    
}

/*#filtres ul {
    /* padding: 10px; */
    /* margin: 5px; *
  
}*/

#filtres ul li {
    list-style-type: none;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color:black;
    font-weight :bold; 
    height: 38px;
    position: relative;
    padding-left: 50px;
    padding-right: 10px;
   /* padding: 0px 10px 0px 65px; */
    line-height: 38px;
    /* width: 40px; */
    /* text-align: center; */   
}

#filtres ul li a {
    color:black;
}

#filtres ul li:hover{
    background-color: #0065FC;
}

#filtres ul li i {
    /* padding: 10px; */
    /* margin-right: 10px;  */
    background-color: #DEEBFF; 
    color: #0065FC;
    position: absolute;
    top:-2px;
    left:-2px;
    border: 2px solid #F2F2F2;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
}


#info {
/*    list-style-type: none;*/
    display: flex;
    align-items: baseline;
    color:gray;

}


#info i{
    color: #0065FC;
   /* background-color: #F2F2F2; */
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    padding:5px;
/*      width: 21px;*/
    
}









/****main : section + aside ***************************************/
main{
    margin: 0 10px;
/*    border:1px solid red;*/
    padding: 0 20px;
    
    flex-direction: column;
}


#hebergement, aside{
    background-color:  #F2F2F2;
    
}

/* modif*/
.hebergement{
    display: flex;
/*    flex-wrap: wrap;*/
    flex-wrap: wrap-reverse;
/*    flex-direction:column-reverse;*/
/*    margin: 0 20px;*/
}


#hebergement{
/*    margin-left: auto;    */
    border:1px solid #F2F2F2; 
    flex : 2;
/*    flex: 0 0 30%;*/
/*    flex-wrap: wrap;*/
    padding : 10px 20px;
/*    padding : 0px 10px;*/
    margin:10px;
    
/*    border-radius: 5%;*/
    
    border-radius: 35px;
    
}


section h2{
/*    margin-left: 15px;*/
/*    padding: 20px 30px;*/
}

section>h3{
    padding-top:15px;
    padding-left: 15px;
}

#hotel{
/*    border: 10px solid yellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
/*    height: 100vh;*/
/*    margin: 10px 0px;*/
/*    overflow: hidden;*/
}

/*section figure{*/

#hebergement figure{    
    border: 7px solid white;
    box-sizing:border-box;
    width: 28%;    
/*    max-width: 28%;*/
    flex: 1 0 200px;
    overflow: hidden;

/*    min-width: 200px;*/  

/*    height: 150px;*/  
    margin:20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa; 
}


/*
a figure:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

#hotel div{ /* proprietes communes aux images*/
    width: 100%;
    height: 110px;
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
}

#choix1{
/*    overflow: hidden;*/
    background-image: url(images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: center;
    background-size: cover;
/*
    object-fit: cover;
    object-position: center;
*/
}

#choix2{
    background-image: url(images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#choix3{
    background-image: url(images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#choix4{
    background-image: url(images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#choix5{
    background-image: url(images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#choix6{
    background-image: url(images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}



@media screen and (min-width: 768px) and (max-width:1024px){
    #choix1{
    background-image: url(images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix2{
    background-image: url(images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix3{
    background-image: url(images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }
}


@media screen and (min-width: 768px) and (max-width:1024px){
    #choix4{
    background-image: url(images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix5{
    background-image: url(images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    #choix6{
    background-image: url(images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }
}


    

/*
a:hover{
    color: red;
    background-image:url(images/gris_anim.gif);
    background-repeat:no-repeat;
}
*/

    
#hebergement figcaption{
    text-align: left;
    padding-left: 10px;
/*    height: 100px;*/
    font-size: 0.9em;
    margin:0;
    color:black;    
/*    width: 150px;*/
/*    margin-top: 0;    */
/*    color:#0065FC;*/
/*    margin-bottom: 25px;*/
    
}


.fa-star{
    color:#0065FC;
    margin-bottom: 25px;
}

/*
.hotel1 i:last-of-type {
    color:slategray;
}
*/

.hotel4etoiles i:nth-child(5){
/*    color:#F2F2F2;*/
    color:slategray;
}

/*
.4etoiles i:last-of-type {
    color:slategray;
}
*/

/*
.hotel4etoiles i:last-of-type {
    color:slategray;
}
*/



/*
.hotel4 i:last-of-type ,.hotel4 i:nth-last-of-type(2){
    color:#F2F2F2;
    color:slategray;
}
*/

.hotel3etoiles i:nth-child(n+4){
    color:slategray;
}

/*aside************************/
aside{
    
    flex : 1;
    border:1px solid #F2F2F2; 
/*    padding : 20px 30px 20px;*/
    margin: 10px 10px 10px 30px;
    border-radius: 35px;
}

aside h2{
/*    margin-left: 25px;*/
    padding: 20px 35px;
}

aside figure{
    display:flex;
    border: 7px solid white;
    box-sizing:border-box;
/*    width:100%;*/
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
/*    margin: 30px 5px 30px 0px;*/
    margin:30px 0px;  
    box-shadow: 0px 0px 10px #aaa; 
    color:black;
}

/*
aside figure:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
*/


.fa-chart-line {
    float: right;
    margin-top: 0;
    margin-right: 0px;
}

#hotelpop{   
    margin:15px 30px;        
}

#hotelpop div{ /* proprietes communes aux images*/
    height: 100%;
    width: 120px;
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
    
}


#choix7{
/*
    height: 100%;
    width: 130px;
*/
    background-image: url(images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}

#choix8{
    background-image: url(images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#choix9{
    background-image: url(images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}


aside figcaption{
/*    display: flex;*/
/*    flex-direction: column;*/
    margin: 0 10px;    
    font-size: 0.9em;
    width: 150px;
    flex: 1 1 0;
}

/*aside figcaption :nth-child(2){*/

aside figcaption :last-child{
    margin-top: 25px;
}


/***************SECTION ACTIVITES**************/

#activites>h2{
/*    padding: 20px 30px 0px;*/
    margin-bottom: 10px;
    padding-left: 10px;
}

/*************** A VERIFIER **************/
section h2{
    padding: 20px 30px;
}


#activites figure{
  
/*border: 7px solid white; */
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    height: 100%;
    /* width: 290px; */
    position: relative;
    /* width: 50%; */
    /* height: 500px; */
    /* width: 80%; */
    /* width: 100%; */
    /* height: 180px; */
     
    overflow: hidden;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px #aaa;
    margin: 0;
     
}



.wrapper{
/*    border: 1px solid red;*/
    margin:0 10px;
    display: flex;
  
    flex-wrap:wrap;
    height: 500px;
/*    overflow: visible;*/
/*    justify-content:space-around;*/
    justify-content: space-between;
/*    padding: 30px 20px;*/
    padding-bottom: 50px;

}




.column{
   height: 100%;
   width: 22%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}

  

.col-1{
    height:34%;
}
.col-2{
    height:47%;
}
.col-3{
    height:60%;
}
.col-4{
/*    height:104%;*/
    height: 100%;
}

#activites h3{
/*    margin-left: 25xp;*/
    margin-left: 10px;
}

.wrapper figure div{ /* proprietes communes aux images*/
/*    width: 100%;*/
    height: calc( 100% - 50px );
/*    height: 300px;*/
/*height: 80%;*/
/*              height: 700px;*/
    background-position: center;
    background-size: cover;
/*    flex: 1 1 0;*/
    
}

#activites figcaption{
    text-align: left;
    padding-left: 10px;
    height: 50px;
/*    width:28%;*/
    font-size: 0.9em;
    margin: 0;
    color: black;
    position: absolute;
    bottom: 0;
    width: calc( 100% - 10px );
    background: white;    
    
}

#choix10{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
/*    width: 100%;*/
}


#choix11{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}


#choix12{
/*    height: calc( 100% - 50px );*/
/*    width: 100%;*/
/*    height: 160px;*/
    background-image: url(images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
/*    position: absolute;*/
/*    top: 0;*/
    
}


#choix13{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}

#choix14{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}
#choix15{
/*    height: calc( 100% - 50px );*/
    background-image: url(images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
/*
    background-position: center;
    background-size: cover;
*/
}

/*
figure:hover{
     transform: scale(1.05);
}
*/

/*footer******************************************************/

footer{
     background-color:  #F2F2F2;
     display: flex;
     flex-wrap: wrap;
/*     justify-content: space-between;*/
/*    margin: 0;*/
    padding: 20px 40px;
    
        
}

footer div{
/*    border:1px solid black;*/
    flex:1 1 300px;
/*    padding-left: 10px;*/
}
.mobile {
/*    display: none;*/
}
.desktop {
    display: block;
}









/********************************************************/
/*=============version smartphone====================*/
/*version smartphone : 320px till 768px*/

/*certaines corrections vont de telle taille (min-width) a telle taille (max-width)*/

/*=================================================*/



@media all and (max-width: 1024px){
    
    body {
    margin :0px;
    }
    
/*    la classe mobile est visible en dessous de 1024px et prends ces proprietes */
    .mobile {
/*        display: block;*/
        display: inline-block;
        float: right;
    }   
/*    la classe desktop sera masquee en dessous de 1024px*/
    .desktop {
        display: none;
    }       
    .elementlogo {
    /* box-sizing: border-box; */
        margin-left: 0px;
        margin-top: 10px;
        padding-right: 0;
    }        
    .container1{ 
        flex-wrap: wrap;
/*
        margin: 10px;
        padding: 0px;
*/
    }  
    .element {
/* width: 100%;  notre conteneur fait toute la largeur*/
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom:10px;
        margin-left:5px;
    }
    
    .topnav {
        margin-top: 30px;
        padding: 0;   
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    
    .topnav li{
        padding:0;
        /* justify-self: end; */
        width: 50%;
        /* width: 25%;    */
        text-align: center;
        /*    border-bottom: 2px solid #0065FC;*/
        /*    border-bottom: 2px solid #2f2f2f;*/
        border-bottom: 2px solid gray;
        padding-bottom: 10px;
/*        border-top:none;*/
    }
    
    .topnav li:nth-child(-n+2) a:hover {
        border-top:none;
/*        border-top-color: white;*/
    }
    
/*
    .topnav li:nth-child(-n+2) a:hover{
        border-top:2px solid #0065FC;  
        padding-top: 50px;
    }
*/
    
    .topnav li:hover{
        border-bottom-color: blue;
        border-top:none;
/*
        border-top:none;  
       border-bottom:2px solid #0065FC;  
       padding-bottom: 10px;
*/        
    }    
    .inscription{
/*        margin : 0;*/
/*        padding: 20px;*/
        margin-left:0px;
        margin-top: 25px;
        padding-top:15px;
        padding-right: 20px;
/*
        margin-top: 0;
        padding-left: 50px;
        padding-bottom: 20px;
*/
        
/*
        margin: 0;
        padding: 0px;
        margin-left: 80px;
        margin-top: 20px;
*/
    }
    
    .headerlogo {
/*
        display: flex;
        align-items: center;
        justify-content: space-between;
*/
        width: 100%;
        margin-left:10px;
        
    }
    
    .elementlogo{
/*        box-sizing: border-box;*/
        margin-left:10px;
        margin-top: 10px;
        padding-right: 0px;
    }
       
    header h2{
        font-size: 1.4em;
/*        text-align: center;*/
/*        padding: 0 20px;*/
    }
    header p{
        padding: 0 20px;
    }
    
    .container1 h2{
        padding: 10px;
        
    }
    
/*    .container1 nav{*/
    
    #Search{
        display: none;
/*        background-image: url(fas fa-search);*/
/*        <i class="fas fa-search"></i>;*/
    }
    
    .fa-search{
        color:white;
/*        border:1px solid #0065FC;*/
        background-color:#0065FC;
/*
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
*/
        border-radius: 15px;
/*        font-weight :bold; */
/*        cursor: pointer;  */
        padding: 17px;
        outline:none; 
        flex-basis: auto;
        border:1px solid #F2F2F2;
        
        
        width: 17px;
        position: absolute;
        height: 17px;
        bottom: -1px;
    }
    
    header{
        padding:0;
    }
    
    header h2{
        margin:20px
    }
    
    .navSearch {
        display: flex;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        width: 75%;
        border-left: none;
        border-right: none;
        margin: 0;
/*        position: relative;*/
/*        padding-right: 120px;*/
        padding-left:20px;
    }
    
    .navSearch > i,input { 
        padding: 17px;
        outline:none; 
        flex-basis: auto;
/*        border:1px solid #F2F2F2;  */
        border:none;
    }
    
    input#Search {
        display:none;
    }
    
    
    fa-search{
        width: 16px;
        position: absolute;
        height: 18px;
        bottom: -1px;
    }
  
    div filtres{
        flex: none;
    }
    
    .filtres h2{
                
/*        max-width: 100%;*/

/*        display: inline-block;*/
/*        width: 100%;*/
/*       flex-grow: 4;*/
/*        width: auto;*/
/*        margin: 10px auto auto;*/
/*        vertical-align: top;*/
        
/*        padding: 0;*/
         width: 100%;
        
    }
    
    div .filtres{
        display: block;
        padding-left: 20px;
        
    }
    
    ul{
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #filtres ul li{
        margin:0;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    
    #info{
        margin:0 20px;
    }
    
    #info p{
        padding: 0 1px;
    }
    main{
        margin:0;
        padding:0;
    }
    aside {
    /*
        flex: 1;
        border: 1px solid #F2F2F2;
    */
        /* padding: 20px 30px 20px; */
/*        margin: 10px;*/
    /*    border-radius: 35px;*/
        width: 100%;
        border-radius: 0;
        margin:0;
    }
    
    aside h2 {
        /* margin-left: 25px; */
        padding: 20px;
        padding-bottom: 0px;
    }
    
    #hotelpop {
        margin: 15px 20px;
    }
/*
    .col-{
        height: 100%;
    }
*/
    #activites{
        display: flex;
        flex-direction: column;
/*        height: 900px;*/
    }
    
     #activites figure {
/*        height: 100%;*/

         height: auto;
         margin-bottom: 30px;
/*         position: relative;*/
    }
    
    #activite>h2{
        margin-bottom: 30px;
        padding-left: 20px;  
    }
    
    
    .wrapper{

        margin:0 20px;
        display: flex;
        flex-wrap:wrap;
        height: 0%;
    /*    overflow: visible;*/
    /*    justify-content:space-around;*/
        justify-content: space-between;
        padding-bottom: 50px;

    }

    
    
    
    .wrapper figure div {
        /* width: 100%; */
        /* height: calc( 100% - 50px ); */
        height: 200px;
        /* height: 80%; */
        /* height: 700px; */
        background-position: center;
        background-size: cover;
        /* flex: 1 1 0; */
    }
    
   
  
    .column{
        width: 100%;
/*        height: 150px;*/
/*        width: 0;*/
        
    }
    
    #hebergement{
        
        border-color: none;
        padding:0;
        background-color: white;
        margin:20px;
        border: none;
    }
    
    #hebergement figure{
        margin:10px 0;
    }
    
    section h2{
        padding:15px 0;
        margin: 0px;
    }
    
    section>h3{
       
        padding-left: 0px;
    }
    
    #activites>h2{
        margin-left:10px;
    }
/*
    .col-1,.col-2,.col-3,.col-4{
        height:100%;
    }
    
*/
    
/*
    .col-{
        height: 100%;
    }
    
*/

}
    
    







    
/*    la classe mobile est visible en dessous de 1024px et prends ces proprietes */
    
/*
@media (max-width: 1024px) 
    .mobile {
        display: inline-block;
        float: right;
} 
*/
    
/*    la classe desktop sera masquee en dessous de 1024px*/
/*
  @media (max-width: 1024px)    
    .desktop {
        display: none;
}
*/
            
/*
@media (max-width: 1024px)
    .elementlogo {
         box-sizing: border-box; 
        margin-left: 0px;
        margin-top: 10px;
        padding-right: 0;
}
*/

/*
 @media (max-width: 1024px)  
    .container1{ 
        position:relative;
        height: 150px;
        flex-wrap: wrap;
}
*/

    
/*
@media (max-width: 1024px)
    .inscription {
        margin: 0;
        padding: 0px;
        margin-left: 80px;
        margin-top: 20px;
}
*/
    
/*
@media (max-width: 1024px)
    .mobile {
        display: inline-block;
        float: right;
}
*/
    
/* ************ nav ********************/
    
/*
@media (max-width: 1024px)
    .element {
        top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%; notre conteneur fait toute la largeur
}
*/

    
@media (max-width: 1024px)
    .topnav {
        margin-top: 30px;
        padding: 0;
        width: 100%;
}
    
@media (max-width: 1024px)
    .topnav :hover {
        
        border-bottom-color: #0065FC;  
/*        padding-bottom:10px; ?????????????????*/
        
}
    
@media (max-width: 1024px)
    .container1 {
/*        position: relative;*/
/*        height: 150px;*/
        flex-wrap: wrap;
}
    
    
    
    
    
    
/*
@media screen and (min-width: 1024px){
    
    span .fa-search{
        display: none;
    }
*/
    
}
    
    
    
    
    
/*   --------------------------------------------- */
    
    
    /*
     .element{
        position:absolute;
        top:30px;
         order:2;
        padding-bottom:20px;
        
    }
*/
/*
    .topnav{
        margin-top:30px;
        padding:20px;
    }
*/